h3{
text-align: center;
color: blue;
background-color: blanchedalmond;
background: 1px salid red;
}
p{
    background: royalblue;
    text-align: center;

}
ul{
    list-style-type: none;

}
ul>li{
    color: salmon;
    size: 10px;
}